{% extends 'base2.html' %}

{% block title %}CreateQuiz{% endblock %}

{% block navback %}
/quiz_search
{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{{url_for('static', filename = '/css/createQ.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename = '/css/instruction.css')}}">

{% endblock %}


{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% if quesData %}
                    <h1 class="m-0">Question {{quesData.QQNum}}, code = {code}}</h1>
                    {% endif %}
                </div><!-- /.col -->
                
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="content">
        <div class="container">
            <div class="card-body" id="questionContainer" >
                <form action="{{url_for('submitEditedQuestion')}}" method="POST">
                    <div class="row">
                        <!-- Question Form -->
                        <div class="col">
                            <!-- [Question Box] -->
                            <div class="card card-outline" name="question" id="question 1">

                                <div class="card-header">
                                    
                                    <h4 class="text-center" id="form-Title">*Question {{qnum}}</h4>
                                    
                                </div> 
                                <!--get hidden values -->
                                <!--loadPageQ(time, type, point, questionText, ansOption, ansCheck)-->
                                <input type="hidden" id="totalOption123" name="totalOption123" value="4">
                                {% if time %}
                                <input type="hidden" id="hiddenTime" name="hiddenTime" value={{time}}>
                                {% endif %}
                                {% if type %}
                                <input type="hidden" id="hiddenType" name="hiddenType" value={{type}}>
                                {% endif %}
                                {% if point %}
                                <input type="hidden" id="hiddenPoint" name="hiddenPoint" value={{point}}>
                                {% endif %}
                                {% if qnum %}
                                <input type="hidden" id="qqnum" name="qqnum" value={{qnum}}>
                                {% endif %}
                                {% if question %}
                                <input type="hidden" id="qquestion" name="qquestion" value={{question}}>
                                {% endif %}
                                {% if answerText %}
                                <input type="hidden" id="answerText" name="answerText" value={{answerText}}>
                                {% endif %}
                                {% if checkText %}
                                <input type="hidden" id="checkText" name="checkText" value={{checkText}}>
                                {% endif %}
                                
                                <div class="card-body" onload="loadPageQ();">
                                    <!-- Question Textarea -->
                                    <div class="form-group">
                                        <textarea rows="3" class="form-control" id="ques-Text" placeholder="Enter question..." style="margin-top: 0px; margin-bottom: 0px; height: 84px;"></textarea>
                                    </div>

                                    <div id="answerOption">
                                        <!-- Answer option boxes -->
                                        <!--
                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <input type="radio" id="answerCheck" name="ans" value="1">
                                                </span>
                                            </div>
                                            <input name="answerContent" id="1" type="text" class="form-control">
                                        </div>

                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <input type="radio" id="answerCheck" name="ans" value="2">
                                                </span>
                                            </div>
                                            <input name="answerContent" id="2" type="text" class="form-control">
                                        </div>

                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <input type="radio" id="answerCheck" name="ans" value="3">
                                                </span>
                                            </div>
                                            <input name="answerContent" id="3" type="text" class="form-control">
                                        </div>

                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <input type="radio" id="answerCheck" name="ans" value="4">
                                                </span>
                                            </div>
                                            <input name="answerContent" id="4" type="text" class="form-control">
                                        </div>-->
                                    </div>

                                    <!-- Properties -->
                                    <div class="row" id="properties">
                                        <div class="col-sm-4 col-md-2">
                                            <label for="">Time</label>
                                            <div class="form-group">
                                                <select class="form-control" id="time">
                                                    <option value="10">10s</option>
                                                    <option value="15">15s</option>
                                                    <option value="30">30s</option>
                                                    <option value="45">45s</option>
                                                    <option value="60">1min</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-md-2">
                                            <label for="">Type</label>
                                            <div class="form-group">
                                                <select class="form-control" id="typeOfAnswer" onchange="typeChange()">
                                                    <option value="radio">MCQ</option>
                                                    <option value="checkbox">Multiple Selection</option>
                                                    <option value="fill">Short Answer</option>
                                                    <!--idk-->
                                                    <option value="Matching">Matching</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="">Point</label>
                                            <input type="number" class="form-control" id="point" value="1" style="width: 66px;" min=1>
                                        </div>

                                        <div class="col">
                                            <label for="">Answer Option</label>
                                            <div class=" row form-group">
                                                <button type="button" class="fas fa-minus" id="dec" onclick="btnAnsOption(this)"></button>
                                                <input type="number" id="showNumOption" name="showNumOption" disabled style="width: 30px;" value="0">
                                                <button type="button" class="fas fa-plus" id="inc" onclick="btnAnsOption(this)"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.row-->
                                </div>

                            </div>
                            <!--/.card-outline-->
                        </div>
                    </div>

                    <div class="add-question">
                        <div class="form-group">
                            <button type="submit" class="btn-block" id="addQues" onclick="EditAns();">Save Question</button>
                            <!-- onclick="btnAddToList()" -->
                        </div>
                    </div>
                </form>


            </div>
            
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %} 

{% block scriptTag %}
   
<script src="{{url_for('static', filename = '/js/question.js')}}"></script> 
<script src="{{url_for('static', filename = '/js/texteditor.js')}}"></script>
<script>
    window.addEventListener('load', loadPageQ());
    function loadPageQ(){
        //alert("lol")
        document.getElementById("time").value = document.getElementById("hiddenTime").value;
        document.getElementById("typeOfAnswer").value = document.getElementById("hiddenType").value;
        document.getElementById("point").value = document.getElementById("hiddenPoint").value;
        loadAnsOptions();
        if(document.getElementById("qquestion").value.includes('[')){
            const ques = (document.getElementById("qquestion").value).toString().split("[");
            var question1 = ""
            for (let i = 0; i < ques.length; i++) {
                question1 = question1 + ques[i] + " ";
            }
            document.getElementById("ques-Text").value = question1;
        }else{
            document.getElementById("ques-Text").value = document.getElementById("qquestion").value;
        }
        //alert(document.getElementById("qquestion").value)
    }

    function EditAns(){ 
  
        document.getElementById("totalOption123").value = document.getElementsByName('answerContent').length;//ansNum.toString();
        document.getElementById("hiddenTime").value = document.getElementById("time").value;
        document.getElementById("hiddenType").value = document.getElementById("typeOfAnswer").value;

        document.getElementById("hiddenPoint").value = document.getElementById("point").value;
        document.getElementById("qquestion").value = document.getElementById("ques-Text").value;

        var answerC = ""
        let anstype = document.getElementById('typeOfAnswer').value  

        var ansCheck = document.querySelectorAll('#answerCheck')
        for (let i = 0; i < ansCheck.length; i++) {
            if(anstype=="radio" || anstype=="checkbox")
            {
                if(ansCheck[i].checked)
                    answerC = answerC + "True;"
                else
                    answerC = answerC + "False;"
            }
            else if (anstype =="Matching")
                answerC = answerC + ansCheck[i].value +";"
        }

        document.getElementById('checkText').value = answerC

        var values2 = $('input[name="answerContent"]').map(function(){
        return this.value
        }).get()

        var ansText = ""
        for (let y = 0; y < ansCheck.length; y++) {
            ansText = ansText + values2[y].toString() +";"
        }
        document.getElementById('answerText').value = ansText

        
        return true;
    }
</script>
{% endblock %}     


