{% extends 'base2.html' %}

{% block title %}
Instruction Page
{% endblock %}

{% block navback %}
/quiz_management
{% endblock %}

{% block csslink %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename = '/css/instruction.css')}}"> -->
{% endblock %}

{% block navli %}
<li class="breadcrumb-item active">Instruction</li>
{% endblock %}

{% block content_header %}
<h3 class="text-center">Instruction</h3>

{% endblock %}

{% block content %}
<div class="card card-outline">

        

    <div class="card-body">
        <div class="form-group">
            <input type="file" id="uploadBtn" style="display: none;">
            <input type="file" name="file" id="uploadfile" style="display: none;" />
            <input type="file" name="file" id="downloadfile" style="display: none;" />

            <div class="btn-group">
                <button type="button" onclick="exec(this)" id="bold" class="fas fa-bold"></button>
                <button type="button" onclick="exec(this)" id="italic" class="fas fa-italic"></button>
                <button type="button" onclick="exec(this)" id="underline"
                    class="fas fa-underline"></button>
                <select id="fontsize" class="custom-select">
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>

                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="72">72</option>

                </select>
            </div>
            <div class="btn-group">
                <button type="button" onclick="exec(this)" id="justifyLeft"
                    class="fas fa-align-left"></button>
                <button type="button" onclick="exec(this)" id="justifyCenter"
                    class="fas fa-align-center"></button>
                <button type="button" onclick="exec(this)" id="justifyFull"
                    class="fas fa-align-justify"></button>
                <button type="button" onclick="exec(this)" id="justifyRight"
                    class="fas fa-align-right"></button>
            </div>
                
            <div class="btn-group">
                <button type="button" onclick="exec(this)" id='indent' class="fas fa-indent"></button>
                <button type="button" onclick="exec(this)" id='outdent' class="fas fa-outdent"></button>
                <button type="button" onclick="exec(this)" id="insertOrderedList"
                    class="fas fa-list-ol"></button>
                <button type="button" onclick="exec(this)" id="insertUnorderedlist"
                    class="fas fa-list-ul"></button>
                <br />
                <button type="button" onclick="exec(this)" id="insertHorizontalRule"
                    class="fas fa-ruler-horizontal"></button>
            </div>
                <div class="btn-group">
                    
                    <button type="button" onclick="exec(this)" id="undo" class="fas fa-undo"></button>
                    <button type="button" onclick="exec(this)" id="redo" class="fas fa-redo"></button>
                    <button type="button" onclick="exec(this,'<p>')" id="formatBlock"
                        class="fas fa-paragraph"></button>
                    <button type="button" onclick="createlink()" id='createLink'
                        class="fas fa-link"></button>
                    <button type="button" onclick="exec(this)" id='unlink' class="fas fa-unlink"></button>

                </div>    
                
                
                
                <div class="btn-group">
                    <button type="button" onclick="downloadInnerHtml('testss.txt');"
                    class="fas fa-file-download"></button>
                    <button type="button" onclick="openfile();" class="fas fa-file-upload"></button>
                </div>
                
                
            </div>
        </div>
        <form action="saveInstruction" onsubmit="copyContent();" method="POST">
            <div class="form-group">

                <div id="textareaI" contenteditable="true" style="
                    font-size: 1.2em;
                    min-height: 500px;
                    background-color: #EFEFEF;
                    text-align: start;
                "><input id="hiddenTextarea" type=text name="instruction" hidden></div>
            
            </div>
            <div class="card-footer">
                    <button type="submit" class="btn btn-secondary float-right">Save</button>
            </div>
        </form>
</div>


{% endblock %}

{% block scriptTag %} 
<script src="{{url_for('static', filename = '/js/texteditor.js')}}"></script>
<script>
    //document.getElementById('textareaI').innerHTML = `{{instructions | safe}}`
    function copyContent(){
    document.getElementById("hiddenTextarea").value = document.getElementById("textareaI").innerHTML;
    return true
    }    
</script>
{% endblock %}